.btn {
  color: white !important;
}

h1, h2, h3, h4, h5 {
  color: $color-primary-darkblue !important;
}

.header-taller {
  height: 4.5rem;
  vertical-align: middle;
}

.row-taller {
  height: 4.5rem;
  vertical-align: middle;
}

.page-container {
  margin-left: 3.75rem;
  margin-right: 3.75rem;
}

//* {
//  background-color: rgba(0, 200, 0, 0.3);
//}